nav {
    position: fixed;
    z-index: 30;
    background-color: $secondary-dark;
    color: $white !important;
    padding: 1rem;
    width: 100vw;
    height: 75px !important;
    display: flex;
    justify-content: center;

    .content {
        max-width: 1000px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .nav-logo--section {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        i {
            color: $white;
            font-size: 1.5rem;
            margin-right: 8px;
            transition: .3s;
            text-decoration: none;
        }

        h1 {
            text-decoration: none;
            color: $white;
            font-size: 1.5rem;
            margin: 0;
            transition: .3s;
        }

        &:hover {
            i, h1 {
                color: darken($blue, 10%);
                cursor: pointer;
            }
        }
    }

    .nav-search--form {
        input {
            padding: .25rem;
            background-color: $main-dark;
            color: $white !important;
            border: none;
            outline: none;
            border-radius: $card-border-radius;
            min-width: 250px;
        }
    }

    .nav-login {
        color: $white;
        text-decoration: none;
        transition: .3s;

        &:hover {
            color: darken($blue, 10%);
            text-decoration: underline;
        }
    }

    .dropdown {
        display: flex;
        align-items: center;
        position: relative;
        float: right;

        .nav-avatar--section {
            display: flex;
            align-items: center;

            .nav-avatar {
                margin: 0;
                border: 3px solid $tertiary-dark;
                border-radius: 50%;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }

            .user-details {
                margin-left: 5px;
                h1 {
                    margin-bottom: 0rem;
                    font-size: 1rem;
                }

                a {
                    text-decoration: none;
                    color: $blue;
                    transition: .3s;

                    &:hover  {
                        color: darken($blue, 10%);
                    }
                }
            }

        }
        .dropdown-button {
            background: transparent;
            border: none;
            outline: none;
            color: $white;

            &:hover {
                color: darken($white, 10%);
            }
        }

        .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            background-color: $red;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 3;
            border-radius: $card-border-radius;
            top: 3.25rem;

            button {
                width: 100%;
                outline: none;
                border: none;
                color: $white;
                background: $red;
                padding: .5rem;
                border-radius: $card-border-radius;
                transition: .3s;

                i {
                    margin-right: 5px;
                }

                &:hover  {
                    background: darken($red, 10%);
                    color: darken($white, 10%);
                }
            }

            &.show {display:block;}
        }
    }
}

@media screen and (max-width: 600px) {
    .nav-logo--section {
        h1 {
            display: none;
        }
    }

    .dropdown {
        .user-details {
            display: none;
        }
    }
}